/* CSS Document for sp_ls */

/*CustomProperties*/
:root {
	--sans:
		Noto Sans JP,
		'メイリオ',
		Meiryo,
		Arial,
		'ＭＳ Ｐゴシック',
		sans-serif;
	
	--serif:
		Noto Serif JP,
		serif;
}


html,body{
	width:100%;
	max-width:480px;
	/*max-width:360px; /*レスポンシブ最小幅でテスト*/
	height:100%;
	background: #FFFAFF 0% 0% no-repeat padding-box;
}

body {
	width:100%;
	min-width: 360px;
	height: 4200px;
	background: #FFFAFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

.header {
	position:relative;
	z-index:1000;
	width:100%;
	min-width: 360px;
	height: 30px;
	background: #000000BF 0% 0% no-repeat padding-box;
}

.face {
	position: relative;
	width:100%;
	min-width: 360px;
	height: 240px;
	background: #221815 0% 0% no-repeat padding-box;
	opacity: 1;
}

.mouth {
	position: absolute;
	float: right;
	top: 101px;
	right: 19px;
	width: 200px;
	height: 120px;
	background: #00000095 0% 0% no-repeat padding-box;
	opacity: 1;
	z-index: 100;
}

.rotate01{
	animation: r1 31s linear infinite;
}

@keyframes r1 {
  0%   { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }

}

.rotate02{
	animation: r2 37s linear infinite;
}

@keyframes r2 {
  0%   { transform: rotate(0deg); }

  100% { transform: rotate(-360deg); }

}

.rotate03{
	animation: r1 53s linear infinite;
}

.shine01,.shine02,.stone {
	position: absolute;
	float: left;
	width: 240px;
	height: 240px;
	opacity: 1;
}

.shine01{
	background: url("../img/light.png");
	mix-blend-mode:screen;
	background-blend-mode: screen;
	z-index:0;
}

.shine02{
	background: url("../img/light2.png");
	mix-blend-mode:screen;
	background-blend-mode: screen;
	z-index:0;
}

.stone{
	background: url("../img/jewel.png");
	z-index:1;
}

.navigation {
	width: 100%;
	min-width: 360px;	
	height: 60px;
	background: #E60012 0% 0% no-repeat padding-box;
	border: 0px solid #707070;
	opacity: 1;
	margin-bottom: 30px;
}

.firstpoem {
	width:100%;
	min-width: 360px;
	height: 120px;
	opacity: 1;
	margin-bottom: 30px;
	background: #DDD 0% 0% no-repeat padding-box;
}

.threepointwindows {
	width:100%;
	min-width: 360px;
	height: 205px;
	opacity: 1;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	/*background: #DDD 0% 0% no-repeat padding-box;*/
}

.tpw_pack {
	margin: 0 10px;
	padding: 12.5px 0;
	width: 100px;
	height: 180px;
	/*background: #BBB 0% 0% no-repeat padding-box;*/
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.circle {
	border-radius: 50%;
	background: #FFF 0% 0% no-repeat padding-box;
	width: 100px;
	height: 100px;
}

.box {
	
	box-sizing: content-box;
	width: 100%;
	height: 60px;
	background: #FFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

.cursor {
	margin: 30px 35%;
	width: 30%;
	height: 60px;
	background:no-repeat url("../img/cursor_under_wide.svg");
	background-size:100% 100%;
	opacity: 1;
}

.dupiegraph {
	padding: 30px 0 0;
	/*margin: 30px 0%;*/
	width:100%;
	min-width: 360px;
	height: auto;
	min-height: 240px;
	background: #fffbef 0% 0% no-repeat padding-box;
	
	opacity: 1;
	font-size: 0;
}

.secondpoem_a {
	margin: 30px 0% 0px;
	width:100%;
	min-width: 360px;
	height: auto;
	min-height: 100px;
	/*background: #00000026 0% 0% no-repeat padding-box;*/
	opacity: 1;
}


.secondpoem_b {
	margin: 0px 0% 0px;
	width:100%;
	min-width: 360px;
	height: auto;
	min-height: 100px;
	background: #00000026 0% 0% no-repeat padding-box;
	opacity: 1;
}

.secondpoem_a .head {
	margin:0;
	width:100%;
	min-width: 360px;
	height: auto;
	min-height: 200px;
	/*background: #00000026 0% 0% no-repeat padding-box;*/
	opacity: 1;
	font-size: 0;
}

.secondpoem_b .body {
	margin:0;
	width:100%;
	min-width: 360px;
	height: auto;
	min-height: 160px;
	background: #00000026 0% 0% no-repeat padding-box;
	opacity: 1;	
	font-size: 0;
}

.dupiewords {
    /*margin:  30px auto; /*Centering*/
	padding: 30px 0;
	width: 100%;
	text-align: center;
	min-height: 160px;
	height: auto;		
	background: #fffbef 0% 0% no-repeat padding-box;
	opacity: 1;
}

.swindleprice {
	margin: 0 0 0;
	padding:30px 0;
	min-width: 360px;
	width: 100%;
	height: auto;
	background: #DB2537 0% 0% no-repeat padding-box;
	opacity: 1;
	
}

.swindleprice .plan {
	font-size:0;
	margin: 0 auto 30px;
	padding: 8px;
	width: 284px;
	min-height: 224px;
	height: auto;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	background: url("../img/frame.png");
	background-size: contain;
	border: 0px solid #707070;
	opacity: 1;
	box-sizing: border-box;
}

.swindleprice .plan:nth-child(2){
	margin: 0 auto 15px;
}

.swindleprice .plan .subject {
	width: 100%;
	height: 132px;
	margin-bottom: 8px;
	background: #DDD 0% 0% no-repeat padding-box;
	opacity: 1;
}

.swindleprice .plan .pack{
	width: 100%;
	height:auto;
	margin-bottom: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.swindleprice .plan .pack .subscription_a {
	display: table;
	margin:0;
	width: 130px;
	height: 30px;
	/*background: #DDD 0% 0% no-repeat padding-box;*/
	opacity: 1;
}
.swindleprice .plan .pack .subscription_b {
	display: table;
	margin:0;
	width: 130px;
	height: 30px;
	/*background: #DDD 0% 0% no-repeat padding-box;*/
	opacity: 1;
}

.swindleprice .plan .pack .shop {
	display: table;
	margin:0;
	width: 130px;
	height: 30px;
	/*background: #DDD 0% 0% no-repeat padding-box;*/
	opacity: 1;
}

.swindleprice .plan .telephone {
	margin:0 auto;
	width: 100%;
	height: 30px;
	background: #DDD 0% 0% no-repeat padding-box;
	opacity: 1;
}

.swindleprice .annotation {
	margin: 0 auto 0;
	width: 284px;
	height:auto;
	min-height: 50px;
	/*background: #FFFFFF 0% 0% no-repeat padding-box;*/
	border: 0px solid #707070;
	opacity: 1;
}

.thirdpoem {
	margin-bottom: 0px;
	min-width: 360px;
	width: 100%;
	min-height: 120px;
	height: auto;
	background: #DDD;
	border: 0px solid #707070;
	opacity: 1;
}

.forthprocess {
	padding: 30px 0 0;
	min-width: 360px;
	width: 100%;
	height:auto;
	display: flex;
	background: #fffbef;
	flex-direction: column;
	align-items :center;
}

.forthprocess .head{
	min-width: 360px;
	width: 100%;
	height:auto;
	text-align: center;
	margin: 0 0 30px;
}

.forthprocess .pack {
	width:284px;
	height:120px;
	margin-bottom: 30px;
	background: #DDD;
	opacity: 1;
	display: flex;
	justify-content: flex-end;
	box-sizing: content-box;
}

.forthprocess .pack:nth-child(even) {
	transform: rotateY(180deg);
	box-sizing: content-box;
}

.forthprocess .pack .note{
	width:186px;
	height:120px;
	margin: 0;
	background: #BBB;
	opacity: 1;
	box-sizing: content-box;
}

.notcomparative {
	width: 100%;
	min-width: 360px;
	min-height: 100px;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #DB2537 0% 0% no-repeat padding-box;
	opacity: 1;
	display: flex;
	flex-direction: column;
	align-items :center;
}

.notcomparative .pack {
	width: 284px;
	height: 375px;
	margin-bottom: 30px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}
.notcomparative .pack:nth-child(2) {
	margin-bottom: 8px;
}


.notcomparative .annotation {
	width: 284px;
	height: auto;
	max-height: 80px;
	/*background: #FFFFFF 0% 0% no-repeat padding-box;*/
	opacity: 1;
}

.forthpoem {
	margin: 0;
	width: 100%;
	min-width: 360px;
	min-height: 100px;
	height: auto;
	background: #DDD 0% 0% no-repeat padding-box;
	opacity: 1;
	font-size: 0;
}

.footer {
	width: 100%;
	min-width: 360px;
	height: 100px;
	background: #FFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

/*TextRule*/

html{
	font-family: var(--sans);
}
.mouth h1 {
	margin:0.5rem 0 0.5rem 1rem;
	font-family: var(--serif);
	font-size: 2rem;
	color:#FFF;
}
.mouth p {
	font-family: var(--serif);
	margin: 0 1rem;
	font-size: 0.75rem;
	line-height: 1.25rem;
	color:#FFF;
}

.firstpoem {
	display: flex;
	justify-content: center;
	align-items: center;
}
.firstpoem p{
	text-align: center;
	font-family: var(--serif);
	font-size: 1.2rem;
	line-height: 2.25rem;
	color:#000;
}

.firstpoem p .large{
	font-size: 1.75rem;
}

.threepointwindows .tpw_pack .circle img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.threepointwindows .tpw_pack .box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.threepointwindows .tpw_pack .box p {
	text-align: center;
	font-family: var(--serif);
	color:#000;
	font-size: 0.6rem;
	line-height: 0.75rem;
}


.dupiegraph img{
	width:100%;
	height:auto;
}


.secondpoem_a .head {
	display: flex;
	justify-content: center;
	align-items: center;
}

.secondpoem_a .head p{
	text-align: center;
	font-family: var(--serif);
	font-size: 2rem;
	line-height: 3rem;
	color:#FFF;
}

.secondpoem_a .head p span.small{
	font-size: 1.25rem;
}

.secondpoem_b .body img{
	width:100%;
	height:auto;
}

.dupiewords img{
	width:284px;
	height:auto;
}

.swindleprice .plan .subject img{
	width:100%;
	height:auto;
}

.swindleprice .plan .pack .subscription_a span{
	font-size: 0.75rem;
	display: table-cell;
	width: 100%;
	height:27px;
	box-sizing: content-box;
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
	text-decoration: none;
	border-radius: 4px;
	color: #ffffff;
	background-image: linear-gradient(#f96 0%, #fd6 100%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 2px #d86;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.29);
}

.swindleprice .plan .pack .subscription_a span:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	border-bottom: none;
}

.swindleprice .plan .pack .subscription_b span{
	font-size: 0.75rem;
	display: table-cell;
	width: 100%;
	height:27px;
	box-sizing: content-box;
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
	text-decoration: none;
	border-radius: 4px;
	color: #ffffff;
	background-image: linear-gradient(#69f 0%, #6df 100%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 2px #68d;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.29);
}

.swindleprice .plan .pack .subscription_b span:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	border-bottom: none;
}

.swindleprice .plan .pack .shop span{
	font-size: 0.75rem;
	display: table-cell;
	width: 100%;
	height:27px;
	box-sizing: content-box;
	text-align: center;
	vertical-align: middle;
	padding: 0 0;
	text-decoration: none;
	border-radius: 4px;
	color: #ffffff;
	background-image: linear-gradient(#FB1 0%, #FE6 100%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 2px #CA5;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.29);
}

.swindleprice .plan .pack .shop span:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	border-bottom: none;
}


.swindleprice .plan .telephone {
	text-align: center;
}
.swindleprice .plan .telephone img{
	margin: auto;	
	height:30px;
	width: auto;
}

.swindleprice .annotation p{
	color: #FFF;
	font-size: 0.25rem;
	margin: 0;
}

.thirdpoem img{
	width: 100%;
	height: auto;
}



.forthprocess .head{
	font-size: 1.25rem;
	line-height: 1.75rem;
	color: #E60012;
	font-family: var(--serif);
	font-weight: bold;
}
.forthprocess .head p{
	margin: 0;
}

.forthprocess .pack{
	/*
	background: url("../img/stepimage.png");
	background-size: 120px auto;
	background-repeat: no-repeat;
	*/
}

.forthprocess .pack:nth-child(2){
	background: url("../img/redpowder01.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.forthprocess .pack:nth-child(3){
	background: url("../img/redpowder02.png");
	background-size: auto 120px;
	background-repeat: no-repeat;
}


.forthprocess .pack:nth-child(4){
	background: url("../img/redpowder03.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.forthprocess .pack:nth-child(5){
	background: url("../img/step04.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.forthprocess .pack .note{
	background: url("../img/stepback.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.forthprocess .pack:nth-child(even) .note p{
	transform: rotateY(180deg);
	background-size: contain;
	background-repeat: no-repeat;
}


.forthprocess .pack:nth-child(odd) .note p{
	padding-left: 54px;
}
.forthprocess .pack:nth-child(even) .note p{
	padding-left: 8px;
	padding-right: 54px;
}

.forthprocess .pack .note p{
	line-height: 1.5rem;
	font-size: 1rem;
	color: #FFF;
}

.notcomparative .pack img{
	width:100%;
	height: auto;
}
.notcomparative .annotation p{
	color: #FFF;
	font-size: 0.25rem;
	margin: 0;
}
.notcomparative .annotation p a:link , .notcomparative .annotation p a:visited{
	color: #FFF;
}

.forthpoem img{
	margin: 0;
	width: 100%;
	height: auto;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.footer img{
	margin-top: 30px;
	width: 25%;
	height: auto;
}
.footer p{
	font-size: 0.5rem;
	color: #666;
	margin-bottom: 30px;
}

.footer p a:link,.footer p a:visited{
	color: #666;
}

.crackback{
	background: url("../img/crackback.png");
	background-size: auto 100%;
}