<!DOCTYPE html>
<html lang="ja">
<head>
	<title>gogonogoat Portfolio Program</title>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
	<link href="css/normalize.css" rel="stylesheet">
	<link href="css/main4.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="lib/swiper-4.5.0/css/swiper.min.css" rel="stylesheet">
	<link href="css/swiper_.css" rel="stylesheet"></head>
<body>
	<div class="wrap_all" id="TOP">
		<div class="wrap_head_a_body">
			<div class="header_topblock">
				<div class="headblock01">
					<div class="breadcrumb">
						<ol>
							<li><a href="index.html">gogonogoat Portfolio</a></li>
							<li><a href="office.html">プログラミング、少しできます。</a></li>
						</ol>
					</div>
					<div class="snsarray">
						<ol>
							<li><a href="https://twitter.com/gogonogoat" class="link_img-hover" target="_blank"><img src="images/sns/twitter.png" alt=""></a></li>
							<li><img src="images/sns/beginner.png" alt=""></li>
						</ol>
					</div>
				</div>
			</div>
			<div class="navigation">
				<ol>
				<a href="index.html#TOP" class="link-hover"><li>TOP</li></a>
				<a href="index.html#How" class="link-hover" ><li>何が<br class="spbr">できるの？</li></a>
				<a href="index.html#Contact" class="link-hover"><li>連絡先は？</li></a>
				</ol>
			</div>
			<div class="subcontent">
				<div class="content_image">プログラミング、少しできます。 <img src="images/program/program.png" alt=""></div>
				<div id="app" class="container">
					<div class="product" v-for="p in product">
						<div class="img">
							<img v-bind:src='toImageUrl(p["image"])'></img>
						</div>
						<div class="name">・名称　<a v-bind:href='p["url"]' v-html='p["name"]'></a></div>
						<hr>
						<div class="">・機能面の概要</div>
						<div class="" v-html='descFix(p["desc"])'></div>
						<hr>
						<div class="">・用いた技術</div>
						<div class="" v-html='descFix(p["skill"])'></div>
						<div class="skillicon">
							<div class="iconA">
								<img v-for='a in p["iconA"]' v-bind:src='toIcon(a)'>
							</div>
							<div class="iconB">
								<img v-for='b in p["iconB"]' v-bind:src='toIcon(b)'>
							</div>
						</div>
						<hr>
					</div>
			</div>
			<div class="foot">
				<div class="logo_small"></div>
				<div class="sub_nav">
					<ol>
						<li><a href="index.html#TOP">TOP</a></li>
						<li><a href="index.html#How">How</a></li>
						<li><a href="index.html#Contact">Contact</a></li>
					</ol>
				</div>
				<div class="copyright">Copyright &copy; gogonogoat All Rights Reserved.</div>
			</div>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
		<script src="script/program.js"></script>
	</div>
</body>
</html>